{
    "openapi": "3.1",
    "info": {
        "description": "L'API de Pappers vous permet de récupérer des informations et documents sur les entreprises françaises à partir de leur numéro SIREN ou SIRET.\n\nVous devez indiquer votre clé d'API dans les requêtes, soit via le header `api-key`, soit (déconseillé) en utilisant le paramètre query `api_token`.\n\nL'URL d'accès à l'API est https://api.pappers.fr/v2/\n\nLien vers la documentation de l'API internationale : https://www.pappers.in/api/documentation\n\nL'historique des modifications (changelog) est accessible à l'url suivante : https://www.pappers.fr/api/changelog\n",
        "version": "2.20.0",
        "title": "Pappers API",
        "contact": {
            "name": "Support technique Pappers",
            "email": "support@pappers.fr"
        }
    },
    "servers": [
        {
            "url": "https://api.pappers.fr/v2"
        }
    ],
    "security": [
        {
            "apiKey": []
        }
    ],
    "tags": [
        {
            "name": "Fiche entreprise"
        },
        {
            "name": "Fiche association"
        },
        {
            "name": "Recherche"
        },
        {
            "name": "Suggestions / Autocomplete"
        },
        {
            "name": "Comptes annuels"
        },
        {
            "name": "Cartographie"
        },
        {
            "name": "Documents"
        },
        {
            "name": "Conformité"
        },
        {
            "name": "Suivi utilisation"
        },
        {
            "name": "Surveillance"
        },
        {
            "name": "Veille"
        }
    ],
    "paths": {
        "/entreprise": {
            "get": {
                "tags": [
                    "Fiche entreprise"
                ],
                "summary": "Récupère l'ensemble des informations disponibles sur une entreprise.",
                "description": "Vous devez fournir soit le SIREN, soit le SIRET.\n\nSi vous indiquez le SIREN, tous les établissements associés à ce SIREN seront renvoyés dans la clé `etablissements`.\n\nSi vous indiquez le SIRET, seul l'établissement associé sera renvoyé dans la clé `etablissement`\n\n> ⚠️ **Attention : Certaines entreprises sont en diffusion partielle auprès de l'Insee**\n>\n> Ce statut est signalé par le champ `diffusable=false`.\n>\n> Les champs suivants peuvent alors devenir nullable : `nom_entreprise` ; `denomination` ; `nom` ; `prenom` ; `sexe` ; `nom_usage` ; `nom_patronymique` ; `code_postal` ; `numero_voie` ; `indice_repetition` ; `type_voie` ; `libelle_voie` ; `complement_adresse` ; `adresse_ligne_1` ; `adresse_ligne_2`.\n>\n> D'autre part, certaines rares entreprises ne sont pas connues par l'INSEE.\n>\n> En utilisant le paramètre `autoriser_absence_insee=true`, la requête retournera également ces entreprises.\n>\n> Les champs suivants peuvent alors devenir nullable : `categorie_juridique` ; `siege`.\n",
                "operationId": "entreprise",
                "parameters": [
                    {
                        "name": "siren",
                        "in": "query",
                        "description": "SIREN de l'entreprise",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "example": 443061841
                        }
                    },
                    {
                        "name": "siret",
                        "in": "query",
                        "description": "SIRET de l'entreprise",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "example": 44306184100047
                        }
                    },
                    {
                        "name": "format_publications_bodacc",
                        "in": "query",
                        "description": "Format attendu pour les publications BODACC. Valeur par défaut : `\"objet\"`.",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "enum": [
                                "objet",
                                "texte"
                            ],
                            "example": "objet"
                        }
                    },
                    {
                        "name": "validite_tva_intracommunautaire",
                        "in": "query",
                        "description": "Si vrai, le champ validite_tva_intracommunautaire du retour indiquera si le numéro de tva est valide auprès de la Commission européenne. Valeur par défaut : `false`.",
                        "required": false,
                        "schema": {
                            "type": "boolean"
                        }
                    },
                    {
                        "name": "publications_bodacc_brutes",
                        "in": "query",
                        "description": "Pappers traite les publications BODACC afin de supprimer les publications périmée. Si vrai, le retour inclura les publications bodacc sans traitement. Valeur par défaut : `false`.",
                        "required": false,
                        "schema": {
                            "type": "boolean"
                        }
                    },
                    {
                        "name": "beneficiaires_effectifs_complets",
                        "in": "query",
                        "description": "Si vrai, la requête se lancera avec un accès complet au registre des bénéficiaires effectifs. Nécessite une habilitation.",
                        "required": false,
                        "schema": {
                            "type": "boolean"
                        }
                    },
                    {
                        "name": "autoriser_absence_insee",
                        "in": "query",
                        "description": "Si vrai, la requête retournera également les entreprises qui ne sont pas connues par l'INSEE (cas rares). Sans ce paramètre, ces entreprises retournent une erreur 404. Lorsque ce paramètre est à vrai, les champs `categorie_juridique` et `siege` peuvent être nuls.",
                        "required": false,
                        "schema": {
                            "type": "boolean"
                        }
                    },
                    {
                        "name": "champs_supplementaires",
                        "in": "query",
                        "description": "Liste des champs supplémentaires à inclure dans le retour. Certains champs peuvent entraîner une consommation de crédits supplémentaires.\n\nChamps supplémentaires disponibles :\n- `sites_internet` : 1 crédit supplémentaire si disponible\n- `telephone` : 3 crédits supplémentaires si disponible\n- `email` : 3 crédits supplémentaires si disponible\n- `lien_linkedin` : 3 crédits supplémentaires si disponible\n- `enseigne_1` : gratuit\n- `enseigne_2` : gratuit\n- `enseigne_3` : gratuit\n- `distribution_speciale` : gratuit\n- `code_cedex` : gratuit\n- `libelle_cedex` : gratuit\n- `code_commune` : gratuit\n- `code_region` : gratuit\n- `region` : gratuit\n- `code_departement` : gratuit\n- `departement` : gratuit\n- `nomenclature_code_naf` : gratuit\n- `lien_pappers` : gratuit\n- `labels` : gratuit\n- `labels:orias` : 0.5 crédit supplémentaire\n- `labels:cci` : 0.5 crédit supplémentaire\n- `micro_entreprise` : gratuit\n- `sanctions` : 1 crédit supplémentaire\n- `personne_politiquement_exposee` : 1 crédit supplémentaire\n- `deces` : 0.5 crédit supplémentaire\n- `scoring_financier` : 30 crédits supplémentaires\n- `scoring_non_financier` : 30 crédits supplémentaires\n- `categorie_entreprise` : gratuit\n- `motif_cessation` : gratuit\n- `nom_personne_physique` : gratuit\n- `representants_legaux` : gratuit\n- `entreprises_dirigees` : 1 crédit supplémentaire si disponible\n- `observations` : 0.5 crédit supplémentaire\n- `decisions` : 5 crédits supplémentaires si disponible (si l'entreprise n'a pas de décision, 0.5 crédit supplémentaire)\n- `parcelles_detenues`: 5 crédits supplémentaires si disponible\n- `appels_offres_gagnes`, `appels_offres_lances`: 2 crédits supplémentaires au total (même si les deux champs sont demandés), si disponible\n- `entreprises_citees`: 3 crédits supplémentaires si disponible\n- `marques`, `brevets`, `dessins`: 1 crédit supplémentaire au total (même si plusieurs de ces trois champs sont demandés), si disponible\n- `informations_boursieres`: 5 crédits supplémentaires si disponible\n- `informations_boursieres:documents`: 10 crédits supplémentaires si disponible (donc un total de 15 crédits supplémentaires car ce champ inclut également le champ `informations_boursieres`)\n- `finances_estimations` : 5 crédits supplémentaires si disponible\n- `actif_net_inferieur_moitie_capital`: 1 crédit supplémentaire\n",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "example": "sites_internet,telephone"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Entreprise trouvée. Le retour contient un objet décrivant l'entreprise.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/EntrepriseFiche"
                                }
                            }
                        }
                    },
                    "206": {
                        "description": "Entreprise trouvée. Le retour est cependant partiel : au moins une source de données n'a pas répondu dans le temps imparti.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/EntrepriseFiche"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Paramètres de la requête incorrects."
                    },
                    "401": {
                        "description": "Clé API incorrecte."
                    },
                    "404": {
                        "description": "Entreprise inexistante."
                    }
                }
            }
        },
        "/association": {
            "get": {
                "tags": [
                    "Fiche association"
                ],
                "summary": "Récupère l'ensemble des informations disponibles sur une association.",
                "description": "Vous devez fournir soit l'identifiant de l'association, soit le SIREN, soit le SIRET.",
                "operationId": "association",
                "parameters": [
                    {
                        "name": "id_association",
                        "in": "query",
                        "description": "Identifiant de l'association",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "example": "W142005389"
                        }
                    },
                    {
                        "name": "siret",
                        "in": "query",
                        "description": "SIRET de l'association",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "example": 95037097300014
                        }
                    },
                    {
                        "name": "siren",
                        "in": "query",
                        "description": "SIREN de l'association",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "example": 950370973
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Association trouvée. Le retour contient un objet décrivant l'association.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Association"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Paramètres de la requête incorrects."
                    },
                    "401": {
                        "description": "Clé API incorrecte."
                    },
                    "404": {
                        "description": "Association inexistante."
                    },
                    "503": {
                        "description": "Service momentanément indisponible."
                    }
                }
            }
        },
        "/recherche": {
            "get": {
                "tags": [
                    "Recherche"
                ],
                "summary": "Recherche les entreprises qui correspondent à des critères.",
                "description": "Tous les paramètres sont optionnels et servent à filtrer la recherche. Les différentes entreprises seront renvoyées dans un tableau `resultats`, et le nombre total de résultats sera renvoyé dans le champ `total`.\n\nPour parcourir l'ensemble des résultats, deux solutions sont possibles :\n\n- La pagination (paramètres `page` et `par_page`), limitée aux 400 premiers résultats ;\n- Les curseurs (paramètres `curseur` et `par_curseur`).\n",
                "operationId": "recherche",
                "parameters": [
                    {
                        "$ref": "#/components/parameters/page"
                    },
                    {
                        "$ref": "#/components/parameters/par_page"
                    },
                    {
                        "$ref": "#/components/parameters/curseur"
                    },
                    {
                        "$ref": "#/components/parameters/par_curseur"
                    },
                    {
                        "$ref": "#/components/parameters/bases"
                    },
                    {
                        "$ref": "#/components/parameters/precision"
                    },
                    {
                        "name": "q",
                        "in": "query",
                        "description": "Texte à rechercher. Dénomination pour une personne morale, nom et prénom pour une personne physique.\nSi vous recherchez dans plusieurs bases, ce paramètre sera utilisé pour rechercher dans toutes les bases.",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "example": "Google France"
                        }
                    },
                    {
                        "name": "siege",
                        "in": "query",
                        "description": "Défini si la requête se base sur le siège",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "example": "true"
                        }
                    },
                    {
                        "$ref": "#/components/parameters/code_naf"
                    },
                    {
                        "$ref": "#/components/parameters/departement"
                    },
                    {
                        "$ref": "#/components/parameters/region"
                    },
                    {
                        "$ref": "#/components/parameters/code_postal"
                    },
                    {
                        "$ref": "#/components/parameters/latitude"
                    },
                    {
                        "$ref": "#/components/parameters/longitude"
                    },
                    {
                        "$ref": "#/components/parameters/distance"
                    },
                    {
                        "$ref": "#/components/parameters/convention_collective"
                    },
                    {
                        "$ref": "#/components/parameters/categorie_juridique"
                    },
                    {
                        "$ref": "#/components/parameters/entreprise_cessee"
                    },
                    {
                        "$ref": "#/components/parameters/statut_rcs"
                    },
                    {
                        "$ref": "#/components/parameters/objet_social"
                    },
                    {
                        "$ref": "#/components/parameters/date_immatriculation_rcs_min"
                    },
                    {
                        "$ref": "#/components/parameters/date_immatriculation_rcs_max"
                    },
                    {
                        "$ref": "#/components/parameters/date_radiation_rcs_min"
                    },
                    {
                        "$ref": "#/components/parameters/date_radiation_rcs_max"
                    },
                    {
                        "$ref": "#/components/parameters/capital_min"
                    },
                    {
                        "$ref": "#/components/parameters/capital_max"
                    },
                    {
                        "$ref": "#/components/parameters/chiffre_affaires_min"
                    },
                    {
                        "$ref": "#/components/parameters/chiffre_affaires_max"
                    },
                    {
                        "$ref": "#/components/parameters/resultat_min"
                    },
                    {
                        "$ref": "#/components/parameters/resultat_max"
                    },
                    {
                        "$ref": "#/components/parameters/date_creation_min"
                    },
                    {
                        "$ref": "#/components/parameters/date_creation_max"
                    },
                    {
                        "$ref": "#/components/parameters/tranche_effectif_min"
                    },
                    {
                        "$ref": "#/components/parameters/tranche_effectif_max"
                    },
                    {
                        "$ref": "#/components/parameters/type_dirigeant"
                    },
                    {
                        "$ref": "#/components/parameters/qualite_dirigeant"
                    },
                    {
                        "$ref": "#/components/parameters/nationalite_dirigeant"
                    },
                    {
                        "$ref": "#/components/parameters/nom_dirigeant"
                    },
                    {
                        "$ref": "#/components/parameters/prenom_dirigeant"
                    },
                    {
                        "$ref": "#/components/parameters/age_dirigeant_min"
                    },
                    {
                        "$ref": "#/components/parameters/age_dirigeant_max"
                    },
                    {
                        "$ref": "#/components/parameters/date_de_naissance_dirigeant_min"
                    },
                    {
                        "$ref": "#/components/parameters/date_de_naissance_dirigeant_max"
                    },
                    {
                        "$ref": "#/components/parameters/age_beneficiaire_min"
                    },
                    {
                        "$ref": "#/components/parameters/age_beneficiaire_max"
                    },
                    {
                        "$ref": "#/components/parameters/date_de_naissance_beneficiaire_min"
                    },
                    {
                        "$ref": "#/components/parameters/date_de_naissance_beneficiaire_max"
                    },
                    {
                        "$ref": "#/components/parameters/nationalite_beneficiaire"
                    },
                    {
                        "$ref": "#/components/parameters/date_depot_document_min"
                    },
                    {
                        "$ref": "#/components/parameters/date_depot_document_max"
                    },
                    {
                        "$ref": "#/components/parameters/type_publication"
                    },
                    {
                        "$ref": "#/components/parameters/date_publication_min"
                    },
                    {
                        "$ref": "#/components/parameters/date_publication_max"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Recherche réussie. Le retour contient la liste des entreprises qui répondent aux critères indiqués.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "resultats": {
                                            "type": "array",
                                            "description": "Liste des entreprises qui correspondent à la recherche.",
                                            "items": {
                                                "allOf": [
                                                    {
                                                        "$ref": "#/components/schemas/EntrepriseRecherche"
                                                    },
                                                    {
                                                        "type": "object",
                                                        "properties": {
                                                            "dirigeants": {
                                                                "type": "array",
                                                                "description": "Dirigeants de l'entreprise qui correspondent à la recherche (si vous recherchez dans la base dirigeants).",
                                                                "items": {
                                                                    "$ref": "#/components/schemas/RepresentantRecherche"
                                                                }
                                                            },
                                                            "beneficiaires": {
                                                                "type": "array",
                                                                "description": "Bénéficiaires effectifs de l'entreprise qui correspondent à la recherche (si vous recherchez dans la base bénéficiaires effectifs).",
                                                                "items": {
                                                                    "$ref": "#/components/schemas/Beneficiaire"
                                                                }
                                                            },
                                                            "documents": {
                                                                "type": "array",
                                                                "description": "Documents de l'entreprise qui correspondent à la recherche (si vous recherchez dans la base documents).",
                                                                "items": {
                                                                    "$ref": "#/components/schemas/Document"
                                                                }
                                                            },
                                                            "publications": {
                                                                "type": "array",
                                                                "description": "Publications de l'entreprise qui correspondent à la recherche (si vous recherchez dans la base publications).",
                                                                "items": {
                                                                    "allOf": [
                                                                        {
                                                                            "$ref": "#/components/schemas/Publication"
                                                                        },
                                                                        {
                                                                            "type": "object",
                                                                            "properties": {
                                                                                "mentions": {
                                                                                    "type": "array",
                                                                                    "description": "Mentions de la recherche dans la publication.",
                                                                                    "items": {
                                                                                        "type": "string"
                                                                                    }
                                                                                }
                                                                            }
                                                                        }
                                                                    ]
                                                                }
                                                            },
                                                            "nb_dirigeants_total": {
                                                                "type": "integer",
                                                                "description": "Nombre de dirigeants total de l'entreprise."
                                                            },
                                                            "nb_beneficiaires_total": {
                                                                "type": "integer",
                                                                "description": "Nombre de bénéficiaires effectifs total de l'entreprise."
                                                            },
                                                            "nb_documents_avec_mentions": {
                                                                "type": "integer",
                                                                "description": "Nombre de documents de l'entreprise qui correspondent à la recherche."
                                                            },
                                                            "nb_documents_total": {
                                                                "type": "integer",
                                                                "description": "Nombre de documents total de l'entreprise."
                                                            },
                                                            "nb_publications_avec_mentions": {
                                                                "type": "integer",
                                                                "description": "Nombre de publications de l'entreprise qui correspondent à la recherche."
                                                            },
                                                            "nb_publications_total": {
                                                                "type": "integer",
                                                                "description": "Nombre de publications total de l'entreprise."
                                                            }
                                                        }
                                                    }
                                                ]
                                            }
                                        },
                                        "total": {
                                            "type": "integer",
                                            "description": "Nombre d'entreprises qui correspondent à la recherche.",
                                            "example": 100
                                        },
                                        "page": {
                                            "type": "integer",
                                            "description": "Page actuelle.",
                                            "example": 1
                                        },
                                        "curseurSuivant": {
                                            "type": "string",
                                            "description": "Présent uniquement en cas d'utilisation du paramètre `curseur`. Contient le curseur courant à envoyer en paramètre `curseur` de la requête suivantes.",
                                            "example": "QxNRrqKiBFDQq54SpHsrw8r5Z3yWZMDAAzcvwywX"
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Clé API incorrecte."
                    },
                    "404": {
                        "description": "Aucune entreprise ne correspond aux critères indiqués."
                    },
                    "503": {
                        "description": "Service momentanément indisponible."
                    }
                }
            }
        },
        "/recherche-dirigeants": {
            "get": {
                "tags": [
                    "Recherche"
                ],
                "summary": "Recherche les dirigeants qui correspondent à des critères.",
                "description": "Tous les paramètres sont optionnels et servent à filtrer la recherche. Les différents dirigeants seront renvoyées dans un tableau `resultats`.",
                "operationId": "recherche-dirigeants",
                "parameters": [
                    {
                        "$ref": "#/components/parameters/par_page"
                    },
                    {
                        "$ref": "#/components/parameters/page"
                    },
                    {
                        "$ref": "#/components/parameters/precision"
                    },
                    {
                        "name": "q",
                        "in": "query",
                        "description": "Texte à rechercher. Nom et prénom du dirigeant pour une personne physique, dénomination pour une personne morale.",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "example": "Google France"
                        }
                    },
                    {
                        "$ref": "#/components/parameters/type_dirigeant"
                    },
                    {
                        "$ref": "#/components/parameters/qualite_dirigeant"
                    },
                    {
                        "$ref": "#/components/parameters/nationalite_dirigeant"
                    },
                    {
                        "$ref": "#/components/parameters/nom_dirigeant"
                    },
                    {
                        "$ref": "#/components/parameters/prenom_dirigeant"
                    },
                    {
                        "$ref": "#/components/parameters/age_dirigeant_min"
                    },
                    {
                        "$ref": "#/components/parameters/age_dirigeant_max"
                    },
                    {
                        "$ref": "#/components/parameters/date_de_naissance_dirigeant_min"
                    },
                    {
                        "$ref": "#/components/parameters/date_de_naissance_dirigeant_max"
                    },
                    {
                        "$ref": "#/components/parameters/code_naf"
                    },
                    {
                        "$ref": "#/components/parameters/departement"
                    },
                    {
                        "$ref": "#/components/parameters/region"
                    },
                    {
                        "$ref": "#/components/parameters/code_postal"
                    },
                    {
                        "$ref": "#/components/parameters/convention_collective"
                    },
                    {
                        "$ref": "#/components/parameters/categorie_juridique"
                    },
                    {
                        "$ref": "#/components/parameters/entreprise_cessee"
                    },
                    {
                        "$ref": "#/components/parameters/statut_rcs"
                    },
                    {
                        "$ref": "#/components/parameters/objet_social"
                    },
                    {
                        "$ref": "#/components/parameters/date_immatriculation_rcs_min"
                    },
                    {
                        "$ref": "#/components/parameters/date_immatriculation_rcs_max"
                    },
                    {
                        "$ref": "#/components/parameters/date_radiation_rcs_min"
                    },
                    {
                        "$ref": "#/components/parameters/date_radiation_rcs_max"
                    },
                    {
                        "$ref": "#/components/parameters/capital_min"
                    },
                    {
                        "$ref": "#/components/parameters/capital_max"
                    },
                    {
                        "$ref": "#/components/parameters/chiffre_affaires_min"
                    },
                    {
                        "$ref": "#/components/parameters/chiffre_affaires_max"
                    },
                    {
                        "$ref": "#/components/parameters/resultat_min"
                    },
                    {
                        "$ref": "#/components/parameters/resultat_max"
                    },
                    {
                        "$ref": "#/components/parameters/date_creation_min"
                    },
                    {
                        "$ref": "#/components/parameters/date_creation_max"
                    },
                    {
                        "$ref": "#/components/parameters/tranche_effectif_min"
                    },
                    {
                        "$ref": "#/components/parameters/tranche_effectif_max"
                    },
                    {
                        "$ref": "#/components/parameters/age_beneficiaire_min"
                    },
                    {
                        "$ref": "#/components/parameters/age_beneficiaire_max"
                    },
                    {
                        "$ref": "#/components/parameters/date_de_naissance_beneficiaire_min"
                    },
                    {
                        "$ref": "#/components/parameters/date_de_naissance_beneficiaire_max"
                    },
                    {
                        "$ref": "#/components/parameters/nationalite_beneficiaire"
                    },
                    {
                        "$ref": "#/components/parameters/date_depot_document_min"
                    },
                    {
                        "$ref": "#/components/parameters/date_depot_document_max"
                    },
                    {
                        "$ref": "#/components/parameters/type_publication"
                    },
                    {
                        "$ref": "#/components/parameters/date_publication_min"
                    },
                    {
                        "$ref": "#/components/parameters/date_publication_max"
                    },
                    {
                        "$ref": "#/components/parameters/siren"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Recherche réussie. Le retour contient la liste des dirigeants qui répondent aux critères indiqués.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "resultats": {
                                            "type": "array",
                                            "description": "Liste des dirigeants qui correspondent à la recherche.",
                                            "items": {
                                                "allOf": [
                                                    {
                                                        "$ref": "#/components/schemas/RepresentantRecherche"
                                                    },
                                                    {
                                                        "type": "object",
                                                        "properties": {
                                                            "entreprises": {
                                                                "type": "array",
                                                                "description": "Liste des entreprises du dirigeant, dans la limite de 100 entreprises.",
                                                                "items": {
                                                                    "$ref": "#/components/schemas/EntrepriseRecherche"
                                                                }
                                                            },
                                                            "nb_entreprises_total": {
                                                                "type": "integer",
                                                                "description": "Nombre d'entreprises du dirigeant au total"
                                                            }
                                                        }
                                                    }
                                                ]
                                            }
                                        },
                                        "total": {
                                            "type": "integer",
                                            "description": "Nombre de dirigeants qui correspondent à la recherche.",
                                            "example": 100
                                        },
                                        "page": {
                                            "type": "integer",
                                            "description": "Page actuelle.",
                                            "example": 1
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Clé API incorrecte."
                    },
                    "404": {
                        "description": "Aucun dirigeant ne correspond aux critères indiqués."
                    },
                    "503": {
                        "description": "Service momentanément indisponible."
                    }
                }
            }
        },
        "/recherche-beneficiaires": {
            "get": {
                "tags": [
                    "Recherche"
                ],
                "summary": "Recherche les bénéficiaires effectifs qui correspondent à des critères.",
                "description": "Tous les paramètres sont optionnels et servent à filtrer la recherche. Les différents bénéficiaires effectifs seront renvoyées dans un tableau `resultats`.",
                "operationId": "recherche-beneficiaires",
                "parameters": [
                    {
                        "$ref": "#/components/parameters/par_page"
                    },
                    {
                        "$ref": "#/components/parameters/page"
                    },
                    {
                        "$ref": "#/components/parameters/precision"
                    },
                    {
                        "name": "q",
                        "in": "query",
                        "description": "Nom et/ou prénom du bénéficiaire effectif.",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "example": "Xavier Niel"
                        }
                    },
                    {
                        "$ref": "#/components/parameters/age_beneficiaire_min"
                    },
                    {
                        "$ref": "#/components/parameters/age_beneficiaire_max"
                    },
                    {
                        "$ref": "#/components/parameters/date_de_naissance_beneficiaire_min"
                    },
                    {
                        "$ref": "#/components/parameters/date_de_naissance_beneficiaire_max"
                    },
                    {
                        "$ref": "#/components/parameters/nationalite_beneficiaire"
                    },
                    {
                        "$ref": "#/components/parameters/code_naf"
                    },
                    {
                        "$ref": "#/components/parameters/departement"
                    },
                    {
                        "$ref": "#/components/parameters/region"
                    },
                    {
                        "$ref": "#/components/parameters/code_postal"
                    },
                    {
                        "$ref": "#/components/parameters/convention_collective"
                    },
                    {
                        "$ref": "#/components/parameters/categorie_juridique"
                    },
                    {
                        "$ref": "#/components/parameters/entreprise_cessee"
                    },
                    {
                        "$ref": "#/components/parameters/statut_rcs"
                    },
                    {
                        "$ref": "#/components/parameters/objet_social"
                    },
                    {
                        "$ref": "#/components/parameters/date_immatriculation_rcs_min"
                    },
                    {
                        "$ref": "#/components/parameters/date_immatriculation_rcs_max"
                    },
                    {
                        "$ref": "#/components/parameters/date_radiation_rcs_min"
                    },
                    {
                        "$ref": "#/components/parameters/date_radiation_rcs_max"
                    },
                    {
                        "$ref": "#/components/parameters/capital_min"
                    },
                    {
                        "$ref": "#/components/parameters/capital_max"
                    },
                    {
                        "$ref": "#/components/parameters/chiffre_affaires_min"
                    },
                    {
                        "$ref": "#/components/parameters/chiffre_affaires_max"
                    },
                    {
                        "$ref": "#/components/parameters/resultat_min"
                    },
                    {
                        "$ref": "#/components/parameters/resultat_max"
                    },
                    {
                        "$ref": "#/components/parameters/date_creation_min"
                    },
                    {
                        "$ref": "#/components/parameters/date_creation_max"
                    },
                    {
                        "$ref": "#/components/parameters/tranche_effectif_min"
                    },
                    {
                        "$ref": "#/components/parameters/tranche_effectif_max"
                    },
                    {
                        "$ref": "#/components/parameters/type_dirigeant"
                    },
                    {
                        "$ref": "#/components/parameters/qualite_dirigeant"
                    },
                    {
                        "$ref": "#/components/parameters/nationalite_dirigeant"
                    },
                    {
                        "$ref": "#/components/parameters/nom_dirigeant"
                    },
                    {
                        "$ref": "#/components/parameters/prenom_dirigeant"
                    },
                    {
                        "$ref": "#/components/parameters/age_dirigeant_min"
                    },
                    {
                        "$ref": "#/components/parameters/age_dirigeant_max"
                    },
                    {
                        "$ref": "#/components/parameters/date_de_naissance_dirigeant_min"
                    },
                    {
                        "$ref": "#/components/parameters/date_de_naissance_dirigeant_max"
                    },
                    {
                        "$ref": "#/components/parameters/date_depot_document_min"
                    },
                    {
                        "$ref": "#/components/parameters/date_depot_document_max"
                    },
                    {
                        "$ref": "#/components/parameters/type_publication"
                    },
                    {
                        "$ref": "#/components/parameters/date_publication_min"
                    },
                    {
                        "$ref": "#/components/parameters/date_publication_max"
                    },
                    {
                        "$ref": "#/components/parameters/siren"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Recherche réussie. Le retour contient la liste des bénéficiaires effectifs qui répondent aux critères indiqués.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "resultats": {
                                            "type": "array",
                                            "description": "Liste des bénéficiaires effectifs qui correspondent à la recherche.",
                                            "items": {
                                                "allOf": [
                                                    {
                                                        "$ref": "#/components/schemas/Beneficiaire"
                                                    },
                                                    {
                                                        "type": "object",
                                                        "properties": {
                                                            "entreprises": {
                                                                "type": "array",
                                                                "description": "Liste des entreprises dont le bénéficiaire effectif est bénéficiaire effectif, dans la limite de 100 entreprises.",
                                                                "items": {
                                                                    "$ref": "#/components/schemas/EntrepriseRecherche"
                                                                }
                                                            },
                                                            "nb_entreprises_total": {
                                                                "type": "integer",
                                                                "description": "Nombre d'entreprises du bénéficiaire effectif au total."
                                                            },
                                                            "entreprises_dirigeant": {
                                                                "type": "array",
                                                                "description": "Liste des entreprises dont le bénéficiaire effectif est dirigeant (sans forcément en être bénéficiaire effectif), dans la limite de 100 entreprises.",
                                                                "items": {
                                                                    "$ref": "#/components/schemas/EntrepriseRecherche"
                                                                }
                                                            },
                                                            "nb_entreprises_dirigeant_total": {
                                                                "type": "integer",
                                                                "description": "Nombre d'entreprises dont le bénéficiaire effectif est dirigeant au total."
                                                            }
                                                        }
                                                    }
                                                ]
                                            }
                                        },
                                        "total": {
                                            "type": "integer",
                                            "description": "Nombre de bénéficiaires effectifs qui correspondent à la recherche.",
                                            "example": 100
                                        },
                                        "page": {
                                            "type": "integer",
                                            "description": "Page actuelle.",
                                            "example": 1
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Clé API incorrecte."
                    },
                    "404": {
                        "description": "Aucun bénéficiaire effectif ne correspond aux critères indiqués."
                    },
                    "503": {
                        "description": "Service momentanément indisponible."
                    }
                }
            }
        },
        "/recherche-documents": {
            "get": {
                "tags": [
                    "Recherche"
                ],
                "summary": "Recherche les documents qui correspondent à des critères.",
                "description": "Tous les paramètres sont optionnels et servent à filtrer la recherche. Les différents documents seront renvoyées dans un tableau `resultats`.",
                "operationId": "recherche-documents",
                "parameters": [
                    {
                        "$ref": "#/components/parameters/par_page"
                    },
                    {
                        "$ref": "#/components/parameters/page"
                    },
                    {
                        "$ref": "#/components/parameters/precision"
                    },
                    {
                        "name": "q",
                        "in": "query",
                        "description": "Mot-clé à rechercher dans le contenu du document.",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "example": "Rémunération"
                        }
                    },
                    {
                        "$ref": "#/components/parameters/date_depot_document_min"
                    },
                    {
                        "$ref": "#/components/parameters/date_depot_document_max"
                    },
                    {
                        "$ref": "#/components/parameters/code_naf"
                    },
                    {
                        "$ref": "#/components/parameters/departement"
                    },
                    {
                        "$ref": "#/components/parameters/region"
                    },
                    {
                        "$ref": "#/components/parameters/code_postal"
                    },
                    {
                        "$ref": "#/components/parameters/convention_collective"
                    },
                    {
                        "$ref": "#/components/parameters/categorie_juridique"
                    },
                    {
                        "$ref": "#/components/parameters/entreprise_cessee"
                    },
                    {
                        "$ref": "#/components/parameters/statut_rcs"
                    },
                    {
                        "$ref": "#/components/parameters/objet_social"
                    },
                    {
                        "$ref": "#/components/parameters/date_immatriculation_rcs_min"
                    },
                    {
                        "$ref": "#/components/parameters/date_immatriculation_rcs_max"
                    },
                    {
                        "$ref": "#/components/parameters/date_radiation_rcs_min"
                    },
                    {
                        "$ref": "#/components/parameters/date_radiation_rcs_max"
                    },
                    {
                        "$ref": "#/components/parameters/capital_min"
                    },
                    {
                        "$ref": "#/components/parameters/capital_max"
                    },
                    {
                        "$ref": "#/components/parameters/chiffre_affaires_min"
                    },
                    {
                        "$ref": "#/components/parameters/chiffre_affaires_max"
                    },
                    {
                        "$ref": "#/components/parameters/resultat_min"
                    },
                    {
                        "$ref": "#/components/parameters/resultat_max"
                    },
                    {
                        "$ref": "#/components/parameters/date_creation_min"
                    },
                    {
                        "$ref": "#/components/parameters/date_creation_max"
                    },
                    {
                        "$ref": "#/components/parameters/tranche_effectif_min"
                    },
                    {
                        "$ref": "#/components/parameters/tranche_effectif_max"
                    },
                    {
                        "$ref": "#/components/parameters/type_dirigeant"
                    },
                    {
                        "$ref": "#/components/parameters/qualite_dirigeant"
                    },
                    {
                        "$ref": "#/components/parameters/nationalite_dirigeant"
                    },
                    {
                        "$ref": "#/components/parameters/nom_dirigeant"
                    },
                    {
                        "$ref": "#/components/parameters/prenom_dirigeant"
                    },
                    {
                        "$ref": "#/components/parameters/age_dirigeant_min"
                    },
                    {
                        "$ref": "#/components/parameters/age_dirigeant_max"
                    },
                    {
                        "$ref": "#/components/parameters/date_de_naissance_dirigeant_min"
                    },
                    {
                        "$ref": "#/components/parameters/date_de_naissance_dirigeant_max"
                    },
                    {
                        "$ref": "#/components/parameters/age_beneficiaire_min"
                    },
                    {
                        "$ref": "#/components/parameters/age_beneficiaire_max"
                    },
                    {
                        "$ref": "#/components/parameters/date_de_naissance_beneficiaire_min"
                    },
                    {
                        "$ref": "#/components/parameters/date_de_naissance_beneficiaire_max"
                    },
                    {
                        "$ref": "#/components/parameters/nationalite_beneficiaire"
                    },
                    {
                        "$ref": "#/components/parameters/type_publication"
                    },
                    {
                        "$ref": "#/components/parameters/date_publication_min"
                    },
                    {
                        "$ref": "#/components/parameters/date_publication_max"
                    },
                    {
                        "$ref": "#/components/parameters/siren"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Recherche réussie. Le retour contient la liste des documents qui répondent aux critères indiqués.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "resultats": {
                                            "type": "array",
                                            "description": "Liste des documents qui correspondent à la recherche.",
                                            "items": {
                                                "allOf": [
                                                    {
                                                        "$ref": "#/components/schemas/Document"
                                                    },
                                                    {
                                                        "type": "object",
                                                        "properties": {
                                                            "entreprise": {
                                                                "$ref": "#/components/schemas/EntrepriseRecherche"
                                                            }
                                                        }
                                                    }
                                                ]
                                            }
                                        },
                                        "total": {
                                            "type": "integer",
                                            "description": "Nombre de documents qui correspondent à la recherche.",
                                            "example": 100
                                        },
                                        "page": {
                                            "type": "integer",
                                            "description": "Page actuelle.",
                                            "example": 1
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Clé API incorrecte."
                    },
                    "404": {
                        "description": "Aucun document ne correspond aux critères indiqués."
                    },
                    "503": {
                        "description": "Service momentanément indisponible."
                    }
                }
            }
        },
        "/recherche-publications": {
            "get": {
                "tags": [
                    "Recherche"
                ],
                "summary": "Recherche les publications BODACC qui correspondent à des critères.",
                "description": "Tous les paramètres sont optionnels et servent à filtrer la recherche. Les différentes publications seront renvoyées dans un tableau `resultats`.",
                "operationId": "recherche-publications",
                "parameters": [
                    {
                        "$ref": "#/components/parameters/par_page"
                    },
                    {
                        "$ref": "#/components/parameters/page"
                    },
                    {
                        "$ref": "#/components/parameters/precision"
                    },
                    {
                        "name": "q",
                        "in": "query",
                        "description": "Mot-clé à rechercher dans le contenu de la publication.",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "example": "Liquidation"
                        }
                    },
                    {
                        "$ref": "#/components/parameters/code_naf"
                    },
                    {
                        "$ref": "#/components/parameters/departement"
                    },
                    {
                        "$ref": "#/components/parameters/region"
                    },
                    {
                        "$ref": "#/components/parameters/code_postal"
                    },
                    {
                        "$ref": "#/components/parameters/convention_collective"
                    },
                    {
                        "$ref": "#/components/parameters/categorie_juridique"
                    },
                    {
                        "$ref": "#/components/parameters/entreprise_cessee"
                    },
                    {
                        "$ref": "#/components/parameters/statut_rcs"
                    },
                    {
                        "$ref": "#/components/parameters/objet_social"
                    },
                    {
                        "$ref": "#/components/parameters/date_immatriculation_rcs_min"
                    },
                    {
                        "$ref": "#/components/parameters/date_immatriculation_rcs_max"
                    },
                    {
                        "$ref": "#/components/parameters/date_radiation_rcs_min"
                    },
                    {
                        "$ref": "#/components/parameters/date_radiation_rcs_max"
                    },
                    {
                        "$ref": "#/components/parameters/capital_min"
                    },
                    {
                        "$ref": "#/components/parameters/capital_max"
                    },
                    {
                        "$ref": "#/components/parameters/chiffre_affaires_min"
                    },
                    {
                        "$ref": "#/components/parameters/chiffre_affaires_max"
                    },
                    {
                        "$ref": "#/components/parameters/resultat_min"
                    },
                    {
                        "$ref": "#/components/parameters/resultat_max"
                    },
                    {
                        "$ref": "#/components/parameters/date_creation_min"
                    },
                    {
                        "$ref": "#/components/parameters/date_creation_max"
                    },
                    {
                        "$ref": "#/components/parameters/tranche_effectif_min"
                    },
                    {
                        "$ref": "#/components/parameters/tranche_effectif_max"
                    },
                    {
                        "$ref": "#/components/parameters/type_dirigeant"
                    },
                    {
                        "$ref": "#/components/parameters/qualite_dirigeant"
                    },
                    {
                        "$ref": "#/components/parameters/nationalite_dirigeant"
                    },
                    {
                        "$ref": "#/components/parameters/nom_dirigeant"
                    },
                    {
                        "$ref": "#/components/parameters/prenom_dirigeant"
                    },
                    {
                        "$ref": "#/components/parameters/age_dirigeant_min"
                    },
                    {
                        "$ref": "#/components/parameters/age_dirigeant_max"
                    },
                    {
                        "$ref": "#/components/parameters/date_de_naissance_dirigeant_min"
                    },
                    {
                        "$ref": "#/components/parameters/date_de_naissance_dirigeant_max"
                    },
                    {
                        "$ref": "#/components/parameters/age_beneficiaire_min"
                    },
                    {
                        "$ref": "#/components/parameters/age_beneficiaire_max"
                    },
                    {
                        "$ref": "#/components/parameters/date_de_naissance_beneficiaire_min"
                    },
                    {
                        "$ref": "#/components/parameters/date_de_naissance_beneficiaire_max"
                    },
                    {
                        "$ref": "#/components/parameters/nationalite_beneficiaire"
                    },
                    {
                        "$ref": "#/components/parameters/date_depot_document_min"
                    },
                    {
                        "$ref": "#/components/parameters/date_depot_document_max"
                    },
                    {
                        "$ref": "#/components/parameters/type_publication"
                    },
                    {
                        "$ref": "#/components/parameters/date_publication_min"
                    },
                    {
                        "$ref": "#/components/parameters/date_publication_max"
                    },
                    {
                        "$ref": "#/components/parameters/siren"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Recherche réussie. Le retour contient la liste des publications qui répondent aux critères indiqués.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "resultats": {
                                            "type": "array",
                                            "description": "Liste des publications qui correspondent à la recherche.",
                                            "items": {
                                                "allOf": [
                                                    {
                                                        "$ref": "#/components/schemas/Publication"
                                                    },
                                                    {
                                                        "type": "object",
                                                        "properties": {
                                                            "entreprise": {
                                                                "$ref": "#/components/schemas/EntrepriseRecherche"
                                                            }
                                                        }
                                                    }
                                                ]
                                            }
                                        },
                                        "total": {
                                            "type": "integer",
                                            "description": "Nombre de publications qui correspondent à la recherche.",
                                            "example": 100
                                        },
                                        "page": {
                                            "type": "integer",
                                            "description": "Page actuelle.",
                                            "example": 1
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Clé API incorrecte."
                    },
                    "404": {
                        "description": "Aucune publication ne correspond aux critères indiqués."
                    },
                    "503": {
                        "description": "Service momentanément indisponible."
                    }
                }
            }
        },
        "/suggestions": {
            "get": {
                "tags": [
                    "Suggestions / Autocomplete"
                ],
                "summary": "Recherche les entreprises qui correspondent à un début de recherche textuelle (type autocomplete).",
                "description": "Cette route est également accessible via le point d'accès suivant : `https://suggestions.pappers.fr/v2?q=googl`.\n\nD'autre part, afin de permettre une intégration en front-end la plus directe, cette route est également accessible sans clé API, avec des limitations quotidiennes du nombre d'appels.\n",
                "operationId": "suggestions",
                "parameters": [
                    {
                        "name": "q",
                        "in": "query",
                        "description": "Début de recherche textuelle",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "example": "googl"
                        }
                    },
                    {
                        "name": "longueur",
                        "in": "query",
                        "description": "Nombre de résultats. Maximum 100. Valeur par défaut : `10`.",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "example": 20
                        }
                    },
                    {
                        "name": "cibles",
                        "in": "query",
                        "description": "Cibles de la recherche, séparées par des virgules. Valeur par défaut : `\"nom_entreprise\"`.",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "enum": [
                                "nom_entreprise",
                                "denomination",
                                "nom_complet",
                                "representant",
                                "siren",
                                "siret"
                            ],
                            "example": "nom_entreprise,siren,siret"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Requête correctement exécutée. Le retour contient une ou plusieurs listes d'entreprises en fonction du paramètre `cibles` de la requête.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "resultats_nom_entreprise": {
                                            "type": "array",
                                            "format": "optional",
                                            "description": "Liste des entreprises dont le nom (dénomination ou nom/prénom) peut compléter la recherche textuelle. Uniquement présent si le paramètre `cibles` contient `nom_entreprise`.",
                                            "items": {
                                                "allOf": [
                                                    {
                                                        "type": "object",
                                                        "properties": {
                                                            "mention": {
                                                                "type": "string",
                                                                "description": "Nom de l'entreprise, avec le texte recherché encerclé d'une balise HTML `<em>`."
                                                            }
                                                        }
                                                    },
                                                    {
                                                        "$ref": "#/components/schemas/EntrepriseRecherche"
                                                    }
                                                ]
                                            }
                                        },
                                        "resultats_denomination": {
                                            "type": "array",
                                            "format": "optional",
                                            "description": "Liste des entreprises dont la dénomination peut compléter la recherche textuelle (concerne les personnes morales seulement). Uniquement présent si le paramètre `cibles` contient `denomination`.",
                                            "items": {
                                                "allOf": [
                                                    {
                                                        "type": "object",
                                                        "properties": {
                                                            "mention": {
                                                                "type": "string",
                                                                "description": "Dénomination de l'entreprise, avec le texte recherché encerclé d'une balise HTML `<em>`."
                                                            }
                                                        }
                                                    },
                                                    {
                                                        "$ref": "#/components/schemas/EntrepriseRecherche"
                                                    }
                                                ]
                                            }
                                        },
                                        "resultats_nom_complet": {
                                            "type": "array",
                                            "format": "optional",
                                            "description": "Liste des entreprises dont le nom complet (nom + prénom ou prénom + nom) peut compléter la recherche textuelle (concerne les personnes physiques seulement). Uniquement présent si le paramètre `cibles` contient `nom_complet`.",
                                            "items": {
                                                "allOf": [
                                                    {
                                                        "type": "object",
                                                        "properties": {
                                                            "mention": {
                                                                "type": "string",
                                                                "description": "Nom complet de l'entreprise, avec le texte recherché encerclé d'une balise HTML `<em>`."
                                                            }
                                                        }
                                                    },
                                                    {
                                                        "$ref": "#/components/schemas/EntrepriseRecherche"
                                                    }
                                                ]
                                            }
                                        },
                                        "resultats_representant": {
                                            "type": "array",
                                            "format": "optional",
                                            "description": "Liste des représentants dont le nom complet (nom + prénom ou prénom + nom) peut compléter la recherche textuelle. Uniquement présent si le paramètre `cibles` contient `representant`.",
                                            "items": {
                                                "allOf": [
                                                    {
                                                        "type": "object",
                                                        "properties": {
                                                            "mention": {
                                                                "type": "string",
                                                                "description": "Nom du dirigeant, avec le texte recherché encerclé d'une balise HTML `<em>`."
                                                            }
                                                        }
                                                    },
                                                    {
                                                        "$ref": "#/components/schemas/RepresentantSuggestions"
                                                    }
                                                ]
                                            }
                                        },
                                        "resultats_siren": {
                                            "type": "array",
                                            "format": "optional",
                                            "description": "Liste des entreprises dont le numéro SIREN peut compléter la recherche textuelle. Uniquement présent si le paramètre `cibles` contient `siren`.",
                                            "items": {
                                                "allOf": [
                                                    {
                                                        "type": "object",
                                                        "properties": {
                                                            "mention": {
                                                                "type": "string",
                                                                "description": "SIREN de l'entreprise, avec le texte recherché encerclé d'une balise HTML `<em>`."
                                                            }
                                                        }
                                                    },
                                                    {
                                                        "$ref": "#/components/schemas/EntrepriseRecherche"
                                                    }
                                                ]
                                            }
                                        },
                                        "resultats_siret": {
                                            "type": "array",
                                            "format": "optional",
                                            "description": "Liste des entreprises dont le numéro SIRET peut compléter la recherche textuelle. Uniquement présent si le paramètre `cibles` contient `siret`.",
                                            "items": {
                                                "allOf": [
                                                    {
                                                        "type": "object",
                                                        "properties": {
                                                            "mention": {
                                                                "type": "string",
                                                                "description": "SIRET de l'entreprise, avec le texte recherché encerclé d'une balise HTML `<em>`."
                                                            }
                                                        }
                                                    },
                                                    {
                                                        "$ref": "#/components/schemas/EntrepriseRecherche"
                                                    }
                                                ]
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Paramètres de la requête incorrects."
                    }
                }
            }
        },
        "/entreprise/comptes": {
            "get": {
                "tags": [
                    "Comptes annuels"
                ],
                "summary": "Récupère les comptes annuels publiés d'une entreprise.",
                "description": "Vous devez fournir le SIREN de l'entreprise pour laquelle vous souhaitez obtenir les comptes annuels.",
                "operationId": "comptes-annuels",
                "parameters": [
                    {
                        "name": "siren",
                        "in": "query",
                        "description": "SIREN de l'entreprise",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "example": 443061841
                        }
                    },
                    {
                        "name": "annee",
                        "in": "query",
                        "description": "Année de cloture des comptes souhaités. Il est possible d'indiquer plusieurs années en les séparant par des virgules. Si le paramètre n'est pas fourni, toutes les années disponibles seront retournées.",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "example": "2016,2017,2018"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Comptes annuels disponibles. Le retour contient les comptes détaillés, ainsi que les ratios associés.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "additionalProperties": {
                                        "type": "array",
                                        "description": "Comptes disponibles pour l'année correspondant à la clé.",
                                        "items": {
                                            "type": "object",
                                            "description": "Année",
                                            "properties": {
                                                "date_depot": {
                                                    "type": "string",
                                                    "description": "Date de dépôt des comptes, au format AAAA-MM-JJ.",
                                                    "example": "2021-04-23"
                                                },
                                                "code_greffe": {
                                                    "type": "string",
                                                    "description": "Code du greffe de dépôt des comptes.",
                                                    "example": 7501
                                                },
                                                "numero_depot": {
                                                    "type": "string",
                                                    "description": "Numéro de dépôt des comptes au greffe.",
                                                    "example": 75548
                                                },
                                                "numero_gestion": {
                                                    "type": "string",
                                                    "description": "Numéro de gestion au greffe.",
                                                    "example": "2003B09427"
                                                },
                                                "date_cloture": {
                                                    "type": "string",
                                                    "description": "Date de cloture des comptes, au format AAAA-MM-JJ.",
                                                    "example": "2020-12-31"
                                                },
                                                "date_cloture_n-1": {
                                                    "type": "string",
                                                    "format": "nullable",
                                                    "description": "Date de cloture des comptes n-1, lorsque présents, au format AAAA-MM-JJ."
                                                },
                                                "duree_exercice_n": {
                                                    "type": "integer",
                                                    "description": "Durée de l'exercice déposé, en mois.",
                                                    "example": 12
                                                },
                                                "duree_exercice_n-1": {
                                                    "type": "integer",
                                                    "format": "nullable",
                                                    "description": "Durée de l'exercice précédent, lorsque présent, en mois."
                                                },
                                                "type_comptes": {
                                                    "type": "string",
                                                    "enum": [
                                                        "C",
                                                        "S",
                                                        "K",
                                                        "CS",
                                                        "B",
                                                        "A"
                                                    ],
                                                    "description": "Type de comptes (C = complets ; S = simplifiés ; K = consolidés ; CS = mélange complets/simplifiés ; B = banques ; A = assurances).",
                                                    "example": "C"
                                                },
                                                "libelle_type_comptes": {
                                                    "type": "string",
                                                    "enum": [
                                                        "Complets",
                                                        "Simplifiés",
                                                        "Consolidés",
                                                        "Complets/Simplifiés",
                                                        "Banques",
                                                        "Assurances"
                                                    ],
                                                    "description": "Libellé du type de comptes.",
                                                    "example": "Complets"
                                                },
                                                "devise": {
                                                    "type": "string",
                                                    "description": "Devise des comptes.",
                                                    "example": "EUR"
                                                },
                                                "devise_origine": {
                                                    "type": "string",
                                                    "format": "nullable",
                                                    "description": "Devise d'origine en cas de conversion."
                                                },
                                                "confidentialite": {
                                                    "type": "boolean",
                                                    "description": "Confidentialité totale des comptes."
                                                },
                                                "confidentialite_compte_de_resultat": {
                                                    "type": "boolean",
                                                    "description": "Confidentialité partielle des comptes (seul le compte de résultat est confidentiel, le reste des comptes sont disponibles)."
                                                },
                                                "coherence_comptable": {
                                                    "type": "boolean",
                                                    "description": "Vrai si les comptes sont cohérents d'un point de vue comptable (équilibre du bilan par exemple)."
                                                },
                                                "type_saisie": {
                                                    "type": "string",
                                                    "description": "Description du type de saisie des comptes."
                                                },
                                                "informations_traitement": {
                                                    "type": "array",
                                                    "format": "nullable",
                                                    "description": "Informations complémentaires sur le traitement des comptes.",
                                                    "items": {
                                                        "type": "string"
                                                    }
                                                },
                                                "sections": {
                                                    "type": "array",
                                                    "description": "Liste des sections de liasses fiscales.",
                                                    "items": {
                                                        "type": "object",
                                                        "properties": {
                                                            "libelle": {
                                                                "type": "string",
                                                                "description": "Libellé de la section.",
                                                                "example": "Actif (bilan)"
                                                            },
                                                            "liasses": {
                                                                "type": "array",
                                                                "description": "Liste des liasses fiscales de la section.",
                                                                "items": {
                                                                    "type": "object",
                                                                    "properties": {
                                                                        "code": {
                                                                            "type": "string",
                                                                            "description": "Code de la liasse.",
                                                                            "example": "AN"
                                                                        },
                                                                        "libelle": {
                                                                            "type": "string",
                                                                            "description": "Libellé de la liasse.",
                                                                            "example": "Terrains"
                                                                        },
                                                                        "colonnes": {
                                                                            "type": "array",
                                                                            "description": "Colonnes de la liasse.",
                                                                            "items": {
                                                                                "type": "object",
                                                                                "properties": {
                                                                                    "libelle": {
                                                                                        "type": "string",
                                                                                        "description": "Libellé de la colonne.",
                                                                                        "example": "Montant brut année N"
                                                                                    },
                                                                                    "valeur": {
                                                                                        "type": "integer",
                                                                                        "description": "Valeur de la colonne.",
                                                                                        "example": 60067444
                                                                                    }
                                                                                }
                                                                            }
                                                                        }
                                                                    }
                                                                }
                                                            }
                                                        }
                                                    }
                                                },
                                                "ratios": {
                                                    "$ref": "#/components/schemas/Ratios"
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Paramètres de la requête incorrects."
                    },
                    "401": {
                        "description": "Clé API incorrecte."
                    },
                    "404": {
                        "description": "Comptes annuels indisponibles."
                    },
                    "503": {
                        "description": "Service momentanément indisponible."
                    }
                }
            }
        },
        "/entreprise/cartographie": {
            "get": {
                "tags": [
                    "Cartographie"
                ],
                "summary": "Récupère les données permettant d'établir une cartographie d'une entreprise.",
[...]
