name: CI

on:
    push:
        branches: [ main ]
    pull_request:

permissions:
    contents: read

jobs:
    check-cs:
        name: Coding Style
        runs-on: ubuntu-latest
        steps:
            - name: Checkout
              uses: actions/checkout@v6

            - name: PHP-CS-Fixer
              uses: docker://oskarstark/php-cs-fixer-ga
              with:
                  args: --config=.php-cs-fixer.php --diff --dry-run